body{
 background-color:#cbce91ff;
}

html{
  height: 100%;
}
.navbar{
  background-color: #daa03aff;
  border-radius: 20%;
}

a i{
  font-size: 3rem;
  padding-right: 10%;
  margin: auto;
  color:#101820ff;
}

 .brand{
   font-size: 3rem;
   display: contents;
   margin: auto;
   font-family: 'Alice', serif;
   color: black;
 }
 
 input{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
  background-color:#B3B1B2;
  font-family: 'Alice', serif;
}

.describe{
  font-size: 1.5rem;
  color: aliceblue;
  margin: auto;
  font-family: 'Alice', serif;
}

 h5{
  background-color:rgb(84, 94, 46);
  color: black;
  font-size: 1.5rem;
  font-family: 'Alice', serif;
  border-radius: 1rem;
}
.card-title{
  border-radius: 25%;
}
.card{
  height: 100%;
  border-radius: 10%;
  background-color: #616247ff;
  opacity: 1;
}

.card-body:hover {
 cursor: pointer;
 opacity: 0.8;
}
.card-img-top{
  border-radius: 50%;
}

p{
padding: 10px;
font-size: 1.2rem;
color: black;
}
p:hover{
  
}