body{
 background-color:#84978F;
}
html{
  height: 100%;
}
.card{
  height: 100%;
  background-color: #ADA692;
}

h5{
background-color:#B3B1B2 ;
font-family: 'Alice', serif;
}

i{
  font-size: 1rem;
}
 
p{
font-family: 'Alice', serif;
font-family: 'Yrsa', serif;
}
.inputContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border:1px solid rgb(189, 202, 226) ;
  height:10%;
  font-size: 1rem;
  background-color:  #ADA692;
  text-align: center;
}
input{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color:#B3B1B2;
}
.describe{
  font-size: 2rem;
  color: aliceblue;
}