body {
  background-color: #bebebe;
}

html {
  height: 100%;
}
.navbar {
  background-color: #daa03aff;
  border-radius: 20%;
  justify-content: center;
}

a i {
  font-size: 3rem;
  padding-right: 10%;
  margin: auto;
  color: #101820ff;
}
form i {
  font-size: 3rem;
  margin: auto;
  color: #101820ff;
}
select + i {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 2rem;
  color: #101820ff;
}
.select_container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
div.select_container i {
  font-size: 3rem;
}
.brand {
  font-size: 3rem;
  display: contents;
  margin: auto;
  font-family: "Alice", serif;
  color: black;
}

input {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
  background-color: #b3b1b2;
  font-family: "Alice", serif;
}
.custom-select {
  width: 50%;
  display: flex;
}

.describe {
  display: flex;
  justify-self: self-end;
  font-size: 1.5rem;
  color: aliceblue;
  margin: auto;
  font-family: "Alice", serif;
}

h5 {
  background-color: rgb(84, 94, 46);
  color: black;
  font-size: 1.5rem;
  font-family: "Alice", serif;
  border-radius: 1rem;
}
.card-title {
  border-radius: 25%;
}
.card {
  height: 100%;
  border-radius: 10%;
  background-color: #616247ff;
  opacity: 1;
}

.card-body:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card-img-top {
  border-radius: 50%;
}
.form-control {
  width: min-content;
  font-size: 1.5rem;
}

p {
  padding: 10px;
  font-size: 1.2rem;
  color: black;
}
.divDisplay{
  display: flex;
}
@media (min-width: 800px) {
  .movie_option {
    margin-right: 10%;
  }
  select + i {
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 30px;
    margin-top: 8%;
    font-size: 1rem;
    color: #101820ff;
  }
}
